
<h1>Poulet</h1>

<form (ngSubmit)="addArticle()">
    <h2>Rédiger un article</h2>
    <div>
        <label for="title">Titre de l'article</label>
        <!-- [(two way binding)] écoute dans les deux sens (event + property binding)
            Un changement venant du HTML change la valeur dans le component.ts et inversement
            ⚠ il faut avoir importé le ReactiveFormsModule dans app.module.ts
        -->
        <input type="text" name="title" id="title" [(ngModel)]="newArticle.title">
    </div>
    <div>
        <label for="content">Contenu de l'article</label>
        <textarea name="content" id="content" [(ngModel)]="newArticle.body"></textarea>
    </div>
    <button type="submit">Ajouter</button>
    <button type="button" (click)="changerValeur()">Changer les valeurs</button>
</form>

<!-- Pipe en Angular: sert à convertir / modifer l'affichage d'une valeur -->
<p>Formater un objet: {{ newArticle | json }}</p>
<p>Date en brut: {{ date }}</p>
<p>Date avec le pipe date: {{ date | date }}</p>
<p>Date avec le pipe date:"medium": {{ date | date:'medium' }}</p>
<p>Date avec le pipe date:"short": {{ date | date:'short' }}</p>

<p>{{ title | titlecase }} - {{title}}</p>

<div class="flex">

    <!-- *ngFor est une directive, elle permet de parcourir un tableau et de créer un composant pour chacun des
        éléments du tableau
        > articles est un tableau présent dans app.component.ts
    -->
    <app-card *ngFor="let article of articles" [article]="article"></app-card>


</div>

<!-- [property binding], lie une propriété HTML à une variable du component.ts -->
<button [disabled]="desactive">Clickez-moi dessus !</button>

<!-- (event binding), déclenche une fonction du component.ts sur un evenement précisé entre les parenthèses-->
<button (click)="toggleButton()">désactiver le button</button>
<button (click)="recupererArticles()">Rafraichir</button>